@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: gray;
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    flex: 0 0 150px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.425);
}

header > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

header > nav > a:hover {
    background-color: rgba(255, 255, 255, 0.61);
    color: black;
    transition: 0.3s;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.315);
    text-align: justify;
    text-indent: 10px;
}
